<h1>Register Your Ad</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Your Form is valid</h5>

  <label>
    Title:
    <input type="text" formControlName="title" />
    <div *ngIf="submitted && messageForm.controls.title.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">
        AD Title is required
      </div>
    </div>
  </label>

  <label>
    Description:
    <textarea formControlName="description"></textarea>
    <div
      *ngIf="submitted && messageForm.controls.description.errors"
      class="error"
    >
      <div *ngIf="messageForm.controls.message.errors.required">
        AD Description is required
      </div>
    </div>
  </label>

  <label>
    Cost Per impression:
    <input type="text" formControlName="CPI" />
    <div *ngIf="submitted && messageForm.controls.CPI.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">
        You must specify the cost per impression
      </div>
    </div>
  </label>
  <input type="submit" value="Submit" class="cta" />
</form>

<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{ messageForm.controls.title.value }}</span>

  <strong>Message:</strong>
  <span>{{ messageForm.controls.description.value }}</span>
</div>
